apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: longhorn-helm
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io

spec:
  project: default
  
  sources:
  - repoURL: 'oci://harbor.lan/library/longhorn'
    chart: longhorn
    targetRevision: 1.10.1
    helm:
      valueFiles:
      - $values/infr/helm/longhorn-values.yaml

  - repoURL: 'https://github.com/LexNinvor/k8s-agrocd.git'
    targetRevision: master
    ref: values
  
  destination:
    server: https://kubernetes.default.svc
    namespace: longhorn-system
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true