apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: metallb-helm
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io

spec:
  project: default

  sources:
  - repoURL: 'oci://harbor.lan/library/metallb'
    chart: metallb
    targetRevision: 0.15.2
    helm:
      valueFiles:
      - $values/infr/helm/metallb-values.yaml

  - repoURL: 'https://github.com/LexNinvor/k8s-agrocd.git'
    targetRevision: master
    ref: values

  destination:
    server: https://kubernetes.default.svc
    namespace: metallb-system

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true